@import "../Variables";

.articles {
    .search-bar {
        width: 100%;
        margin: 0 auto;

        input {
            height: 50px;
            width: 100%;
            font-size: 22px;
        }
    }

    .alert-wrap {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 50px;

        .alert {
            width: 50%;
        }
    }

    .article-list {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(min-content, max-content);


        .article-item {
            border: 2px solid rgba($dark, 1);
            background-color: rgba($dark, 1);
            color: $light;
            margin: 0 1em 1em 0;
            border-radius: $border-radius;

            a {
                display: block;
                padding: 1.5em;
                height: 100%;
                width: 100%;
            }

            p {
                margin: 1em 0;
            }

            .article-tags {
                margin: 1em 0;

                .article-tag {
                    display: inline-block;
                    background-color: rgba($danger, 1);
                    padding: 0.25em 0.5em;
                    margin: 0.25em 0.5em 0.5em 0;
                    border-radius: $border-radius;
                    transition: background-color $transition-time ease-in-out, color $transition-time ease-in-out;
                }
            }

            transition: transform $transition-time ease-in-out, box-shadow $transition-time ease-in-out;

            &:hover {
                cursor: pointer;
                //background-color: rgba($dark, 0);
                //border: 2px solid rgba($danger, 1);
                transform: translate3d(0px, -3px, 0px);
                box-shadow: rgba($dark, 0.25) 0 20px 40px;

                .article-tag {
                    background-color: $warning;
                    color: $dark;
                }
            }
        }
    }

}