@import "../Variables";

.home {
    position: absolute;
    background-color: $danger;
    top: 0;
    width: 100%;
    height: 100%;

    h1, h2 {
        font-weight: normal;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        svg {
            height: 800px;
        }
    }

    .banner {
        position: relative;
        z-index: 5;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $light;

        .navigation {
            .navigation-wrap {
                ul {
                    margin-top: 1em;
                    li {
                        margin: 0.5em 1em;
                        &:hover, &.active {
                            border: 2px solid $warning;
                        }
                    }
                }
            }
        }
    }
}