@import "../Variables";

.articles {
    text-align: center;
    width: 90%;
    margin: auto;

    .article-item {
        border: $border-standard;
        margin: 0 auto 50px 0;
        padding: 2em;
        transition: $transition-standard;
        border-radius: $border-radius;

        &:hover {
            background-color: rgba($core-secondary, 0.2);
            border-radius: $border-radius;
        }

        sub {
            display: inline-block;
            margin: 0.5em;
            padding: 0.5em;
            background-color: $core-primary;
            border-radius: $border-radius;
        }

    }
}