@import "../Variables";

.article-view {
    width: 100%;
    .article-title {
        padding-bottom: 1em;
        border-bottom: 2px solid $core-primary;
    }

    .article-content {
        margin-top: 2em;

        pre {
            white-space: pre-wrap;
        }
    }
}