@import "Variables";

nav {
    text-align: center;
    h1 {
        margin-bottom: 50px;
        font-weight: normal;
        padding: 0.5em;
        border-radius: $border-radius;
        transition: $transition-standard;
        border: 2px solid $core-primary;

        &:hover {
            background-color: rgba($core-primary, 0.3);
            border-radius: $border-radius;
        }
    }
}