@import "Variables";

nav {
    text-align: center;
    h1 {
        margin-bottom: 50px;
        font-weight: normal;
        padding: 0.25em;
        border-radius: $border-radius;
        transition: $transition-standard;
        background-color: $core-primary;

        &:hover {
            background-color: rgba($core-primary, 0.3);
            border-radius: $border-radius;
        }
    }
}