@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

html {
    background-color: rgba(128, 128, 128, 0.5);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {

}

.bmwadforth {

    .container {
        width: 40%;
        margin: 0 auto;
        text-align: center;

        .title {
            margin-bottom: 50px;
        }

        .container-inner {
            display: flex;
            align-items: start;

            h1 {
                margin: 0 0 50px;
            }

            .content {
                display: flex;
                flex: 3;
                width: 50%;
                padding: 1em;

                .articles {
                    width: 80%;
                    margin: 0 auto;
                    
                    a {
                        text-decoration: none;
                        color: black;
                    }

                    .article-item {
                        width: 80%;
                        margin: 0 auto 25px;
                        padding: 1em;
                        background-color: rgba(#515751, 0.3);
                        border-radius: 4px;
                        text-align: center;

                        transition: box-shadow 0.3s ease-in-out;


                        sub {
                            display: inline-block;
                            background-color: rgba(#FF8360, 0.3);
                            padding: 0.5em;
                            margin: 0.5em;
                            border-radius: 4px;
                        }

                        &:hover {
                            cursor: pointer;
                            box-shadow: 0 0 0 2px rgba(#FF8360, 0.3);
                        }

                    }
                }

                .article-view {
                    width: 100%;
                    text-align: center;
                }
            }

            .navigation {
                display: flex;
                flex: 1;
                text-align: center;
                padding: 1em;

                .title {

                }

                nav {
                    a {
                        text-decoration: none;
                        color: #000;
                        h1 {
                            font-size: 32px;
                            transition: color 0.3s ease-in-out;
                            border-bottom: 2px dashed black;

                            &:hover {
                                color: rgba(#FF8360, 0.3);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}