//View Port
$view-port-margin-top: 50px;
$view-port-width: 60%;

//Navigation
$link-font-size: 32px;


//Transitions
$transition-time: 0.3s;


//Colours
$primary: #005aff;
$success: #31ab4d;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;


//Misc
$border-radius: 5px;