.alert {
  width: 100%;
  min-height: 75px;
  padding: 1em;

  &.alert-info {
  }

  &.alert-warning {
    background-color: rgba(limegreen, 1);
    color: black;
  }

  .title-icon {
    display: flex;
    align-items: center;
    .icon {
      margin-right: 1em;

      &:hover {
        cursor: pointer;
      }
    }
  }

  h1 {
    font-size: 1.25em;
  }

  p {
  }
}
