@import 'variables';

.alert {
  width: 100%;
  min-height: 75px;
  padding: 1em;
  border-radius: 4px;

  &.alert-info {
  }

  &.alert-warning {
    background-color: yellow;
    color: black;
    svg {
      path {
        fill: black !important;
      }
    }
  }

  .title-icon {
    display: flex;
    align-items: center;
    .icon {
      margin-right: 1em;

      &:hover {
        cursor: pointer;
      }
    }
  }

  h1 {
    font-size: 1.25em;
  }

  p {
  }
}
