@import 'variables';

.article-container {
  width: 100%;
  margin: 0 auto;

  .article {
    margin: 0 auto;
    .article-title {
      background: $color-default-solid url('../vectors/cyborg-message-sent.svg') no-repeat right;
      border-bottom: 2px solid $color-primary;
      background-size: inherit;
      height: 200px;
      border-radius: 0 0 4px 4px;
      font-size: 1.5em;

      @media only screen and (max-width: 800px) {
        background-size: contain;
        background-position: right;
      }

      .article-title-content {
        padding: 0.85em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .alert {
          width: 50%;
        }

        .article-meta {
          display: flex;
          span {
            margin-right: 1em;
            font-size: 0.5em;
            font-weight: bold;
          }
        }

        @media only screen and (max-width: 800px) {
          padding-left: 0;
        }

        h1 {
          margin: 0;
        }
        p {
          margin: 0;
          font-size: 0.5em;
        }
      }
    }

    .alert {
      border-radius: 0;
    }

    .article-body {
      padding: 2em 3em;
      margin-bottom: 40px;
      background-color: $color-default-solid;
      border-radius: 4px;

      color: $color-secondary;
      a {
        color: $color-primary;
      }

      pre {
        border-radius: 4px;
        background-color: rgba($color-secondary, 0.2) !important;
      }
    }
  }
}
