@import 'variables';

.articles-container {
  width: 100%;
  margin: 0 auto;

  .articles {
    margin: 0 auto;
    .articles-title {
      background: $color-default-solid url('../vectors/cyborg-message-sent.svg') no-repeat right;
      border-bottom: 2px solid $color-primary;
      background-size: inherit;
      height: 200px;
      border-radius: 0 0 4px 4px;
      font-size: 1.5em;

      @media only screen and (max-width: 800px) {
        background-size: contain;
        background-position: right;
      }

      .articles-title-content {
        padding: 0.85em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media only screen and (max-width: 800px) {
          padding-left: 0;
        }

        h1 {
          margin: 0;
        }
        p {
          margin: 0;
        }
      }
    }

    .alert {
      border-radius: 0;
    }

    .article-list {
      width: 100%;
      padding: 0 3em;
      margin: 1em auto 50px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;

      a {
        text-decoration: none;
        color: inherit;
      }

      .article-item {
        border-radius: 4px;
        height: 350px;
        position: relative;
        overflow: hidden;

        .article-title {
          padding: 1em;
          border-bottom: 1px solid $color-primary;
          width: 100%;
          background-color: $color-default-solid;

          h1 {
            font-weight: normal;
            font-size: 1.5em;
            margin: 0;
          }
          p {
            margin: 0.25em 0 0;
            font-size: 0.9em;
            font-weight: lighter;
          }
        }

        background-color: $color-default;
        transition: all 0.3s ease;
        &:hover {
          cursor: pointer;
          color: $color-primary;
        }

        .article-body {
          height: 225px;
          background-color: white;

          img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .article-footer {
          padding: 0 1em 0.5em;
          position: absolute;
          bottom: 0;
          min-height: 15px;
          border-top: 1px solid $color-primary;
          width: 100%;
          background-color: rgba($color-secondary, 0.8);
          display: flex;
          justify-content: right;
          align-items: center;

          span {
            padding-right: 1em;

            sub {
              font-weight: normal;
              &.created-date {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
