@import 'variables';

.dashboard-container {
  height: 100%;
  width: 40%;
  margin: 0 auto;
  background-image: url('../vectors/cyborg-unsubscribed.svg');
  background-position: bottom;
  background-repeat: no-repeat;

  .title {
    margin: 0;
  }

  .dashboard {
    height: 100%;

    .title {
      text-align: center;
    }

    .credentials {
      text-align: center;
      background-color: rgba($color-secondary, 1);
      margin: 0;
    }

    .links {
      display: flex;
      background-color: rgba($color-secondary, 1);
      padding: 0.5em;
      .link-item {
        flex: 1;
        text-align: center;
        font-size: 1.5em;

        a {
          transition: color 0.3s ease;
          color: inherit;
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
    .social-icons {
      display: flex;
      width: 40%;
      margin: 1em auto;
      .icon {
        flex: 1;
      }

      svg {
        path {
          transition: fill 0.3s ease;
        }
      }

      svg {
        &:hover {
          path {
            fill: $color-primary !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  html {
    .dashboard-container {
      width: 100%;
      background-size: contain;
    }

    .dashboard {
      border-radius: 4px;
      padding: 1em;

      .social-icons {
        .icon {
          flex: 1;
          text-align: center;
        }
      }
    }
  }
}
