@import 'variables';

.dashboard-container {
  height: 100%;
  margin: 0 auto;
  background-image: url('../vectors/cyborg-unsubscribed.svg');
  background-position: bottom;
  background-repeat: no-repeat;

  @media only screen and (max-width: 800px) {
    background-position: center;
    background-size: contain;
  }

  .title {
    margin: 0;
  }

  .dashboard {
    display: block;
    justify-content: center;
    text-align: center;

    .credentials-container {
      height: 60px;
      background-color: $color-primary;
      color: $color-secondary;
      @media only screen and (max-width: 800px) {
        height: 100px;
      }
      .credentials {
        height: 100%;
        span {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          @media only screen and (max-width: 800px) {
            flex-direction: column;
          }

          sub {
            font-weight: bold;
            @media only screen and (max-width: 800px) {
              &::before {
                content: '>';
              }
            }
            & + sub {
              &::before {
                @media only screen and (min-width: 800px) {
                  content: ' | ';
                }
              }
            }
          }
        }
      }
    }

    .oh-no {
      width: 100%;
      h1 {
        transition: color 0.3s ease;
        &:hover {
          cursor: pointer;
          color: $color-primary;
        }
      }
    }
  }
}
