@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@import 'navigation';
@import 'dashboard';
@import 'icon';
@import 'alert';
@import 'articles';
@import 'variables';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.App,
main {
  height: 100%;
}

#root,
body {
  margin: 0;
  height: 100vh;
}

.divider {
  height: 0.5px;
  border: 0.5px solid gray;
  width: 100%;
}
.not-found {
  height: 100%;
  background: url('../vectors/cyborg-page-not-found.svg') no-repeat right;
  z-index: 500;

  @media only screen and (max-width: 800px) {
    background: url('../vectors/cyborg-page-not-found.svg') no-repeat bottom;
    background-size: contain;
  }

  .not-found-meta {
    p {
      margin-bottom: 0.5em;
    }
    sub {
      color: $color-primary;
    }
  }
}
