@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@import 'navigation';
@import 'dashboard';
@import 'icon';
@import 'alert';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.App,
main {
  height: 100%;
}

#root,
body {
  margin: 0;
  height: 100vh;
}

.divider {
  height: 0.5px;
  border: 0.5px solid gray;
  width: 100%;
}

.not-found {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('unnamed.gif');
  background-color: black;
  background-repeat: no-repeat;
  color: white;
}

.not-found-meta {
  sub {
    color: red;
  }
}

.dashboard-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('unnamed.gif');
  background-color: black;
  background-repeat: no-repeat;
  color: white;
}

@media only screen and (max-width: 800px) {
  html {
    .dashboard-container {
      background-image: none;
    }

    .dashboard {
      border-radius: 4px;
      padding: 1em;

      .social-icons {
        .icon {
          flex: 1;
          text-align: center;
        }
      }
    }
  }
}
