@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@import 'navigation';
@import 'dashboard';
@import 'icon';
@import 'alert';
@import 'articles';
@import 'variables';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.App,
main {
  height: 100%;
}

#root,
body {
  margin: 0;
  height: 100vh;
}

.divider {
  height: 0.5px;
  border: 0.5px solid gray;
  width: 100%;
}
.not-found {
  height: 100%;
  background: url('../vectors/cyborg-page-not-found.svg') no-repeat center bottom;
  background-size: auto;
  z-index: 500;

  @media only screen and (max-width: 800px) {
    background-size: contain;
    background-position: center;
  }

  .alert {
    background-color: $color-default;
  }

  h1 {
    margin-bottom: 0.5em;
  }

  .not-found-meta {
    p {
      margin: 0 0 0.5em 0;
    }
    sub {
      color: $color-primary;
    }
  }
}

.social-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $color-default;
  height: 40px;
  .social-icons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      margin: 0 1em;
    }
  }
}
