.navigation-container {
  min-width: 250px;

  .navigation-group {
    margin: 0;
    padding: 0;
    list-style: none;

    .navigation-item {
      font-size: 1.5em;

      a {
        color: limegreen;
        text-decoration: none;

        transition: color 0.3s ease;

        &:hover {
          color: black;
        }
      }

      span {
        margin-left: 0.2em;
      }

      &.item-active {
        a {
          color: black;
        }
      }
    }
  }

  .navigation-social {
  }
}
