@import 'variables';

.navigation-container {
  width: 100%;
  background-color: $color-default-solid;
  border-bottom: 2px solid $color-primary;
  height: 70px;

  @media only screen and (max-width: 800px) {
    height: 125px;
  }

  .navigation {
    height: 100%;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
    }

    list-style: none;

    .navigation-item {
      display: flex;
      align-items: center;
      margin: 0 2em;
      font-size: 1.125em;

      @media only screen and (max-width: 800px) {
        margin: 0 3em;
        font-size: 1.5em;
        justify-content: center;
      }

      a {
        color: white;
        text-decoration: none;

        transition: color 0.3s ease;

        &:hover {
          color: $color-secondary;
        }
      }

      span {
        margin-left: 0.2em;
      }

      &.item-active {
        a {
          color: $color-primary;
        }
      }
    }
  }
}
